.search-input-container {
  @apply w-screen flex flex-col justify-center items-center my-10;
}

.search-input {
  @apply bg-slate-100 rounded-full w-4/5 md:w-3/5 lg:w-2/5 outline-none border-0;
}

.filter-container {
  @apply flex justify-center w-full space-x-5 mt-5;

  button {
    @apply bg-slate-200 rounded-md px-5 py-2 font-serif font-light hover:scale-105 active:scale-95;
  }

  button.active {
    @apply bg-slate-600 text-white;
  }
}
