<div class="search-input-container">
  <input
    type="text"
    class="search-input"
    placeholder="Search movie..."
    [value]="$searchText | async"
    #search
    (input)="onSearch(search.value)"
  />
  <div class="filter-container">
    <button (click)="onAll()" [ngClass]="{ active: isAll }">All</button>
    <button (click)="onNotPrice()" [ngClass]="{ active: isNotPrice }">
      Price not specified
    </button>
  </div>
</div>
