<div class="container-dashboard">
  <search-input></search-input>
  <div
    [@ActionPageAnimate]="changePage"
    (@ActionPageAnimate.done)="changePage = ActionPage.WAIT"
  >
    <movie-list></movie-list>
  </div>
  <pagination
    (next)="changePage = ActionPage.NEXT"
    (pre)="changePage = ActionPage.PRE"
  ></pagination>
</div>
