.movie-list {
  @apply grid grid-cols-1 pb-32 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4
  gap-x-4 gap-y-12 w-screen px-2 lg:px-[10%];
}

.movie {
  @apply col-span-1;
}

.card-container {
  @apply flex flex-col justify-center h-fit cursor-pointer;
}

.card {
  @apply relative flex flex-col space-y-3
  rounded-xl shadow-lg p-3 max-w-xs h-[450px]
  mx-auto border border-white bg-white 
  transition-all duration-1000 ease-in-out;
}

.content {
  @apply w-full h-[85%] bg-white grid place-items-center;

  img {
    @apply rounded-t-xl h-full w-full transition-all duration-1000 ease-in-out 
    group-hover:blur-[2px] group-hover:grayscale;
  }
}

.price-container {
  @apply absolute -top-1 -right-2 w-auto h-fit bg-red-300
  rounded-md py-1 pr-2 pl-3 text-base font-semibold text-gray-800;
}

.detail-container {
  @apply w-auto min-h-[15%] h-[25%] bg-white flex flex-col space-y-2 px-2 pt-2 py-3 
  leading-relaxed
  transition-all duration-1000 ease-in-out rounded-t-lg
  absolute bottom-3 right-3 left-3 group-hover:h-[80%];
}

.score {
  @apply flex justify-between items-center;
  margin: 0 !important;

  div {
    @apply flex items-center;

    &:nth-child(2) {
      svg {
        @apply h-5 w-5 text-yellow-500;
      }
    }
  }

  .language {
    @apply text-gray-100 font-bold font-serif text-xs bg-cyan-900 rounded
    px-1 py-0;
  }

  .tag {
    @apply bg-gray-200 px-3 py-1 rounded-full text-xs 
    font-medium text-gray-800 hidden;
  }
}

.header {
  @apply font-black text-gray-800 text-xl;
}

.description {
  @apply text-gray-500 text-base leading-relaxed indent-8 break-all overflow-y-auto
  opacity-0 h-0 transition-all duration-1000 ease-out m-0 p-0
  group-hover:opacity-100 group-hover:h-fit
  group-hover:transition-all group-hover:duration-500 group-hover:ease-in;
}

.btn-container {
  @apply absolute -bottom-10 left-1/2 -translate-x-1/2;

  button {
    @apply bg-slate-300 font-mono font-extrabold text-3xl rounded-full
    p-12 relative 
    before:absolute before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2
    before:rounded-full before:p-9 before:bg-amber-200 before:active:scale-95 before:drop-shadow-lg;

    i {
      @apply absolute top-[35%] left-[30%] group-hover:animate-bounce;
    }
  }
}

.total-page {
  @apply col-span-1 sm:col-span-2 md:col-span-3 xl:col-span-4 flex justify-center items-center
  mt-20 text-base font-serif font-bold;
}

//? Text Empty Container
.text-empty-container {
  @apply col-span-4 text-center font-bold text-2xl 
  w-full h-[50vh] flex justify-center items-center
  text-slate-500;
}
