<div class="movie-list">
  <ng-container *ngIf="($movieListNow | async)!.length > 0; else emptyMovie">
    <div class="movie" *ngFor="let movie of $movieListNow | async">
      <div class="card-container">
        <div class="card group">
          <div class="content">
            <!-- *** Image -->
            <img [src]="imageBaseUrl + movie.poster_path" [alt]="movie.title" />
          </div>

          <div class="price-container">
            <p>{{ movie.price | number }} ฿</p>
          </div>

          <!-- *** Detail -->
          <div class="detail-container">
            <h3 class="header">{{ movie.title }}</h3>

            <div class="score">
              <p class="language">EN</p>
              <div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
                </svg>
                <p class="text-gray-600 font-bold text-sm ml-1">
                  {{ movie.vote_average }}
                </p>
              </div>
            </div>

            <p class="description">{{ movie.overview }}</p>
          </div>

          <!-- *** Btn add to card -->
          <div class="btn-container">
            <button type="button" (click)="onAddToCart(movie)">
              <i class="fa-solid fa-cart-plus"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="total-page">
      <p>
        Page {{ $page | async | number }} of
        {{ $totalPage | async | number }}
      </p>
    </div>
  </ng-container>
</div>

<ng-template #emptyMovie>
  <!-- *** Text -->
  <div class="text-empty-container">
    <p>Not Found Movies</p>
  </div>
</ng-template>
