<div
  *ngIf="isShow"
  class="backdrop-modal animated faster"
  style="background: rgba(0, 0, 0, 0.7)"
  [ngClass]="isIn ? 'fadeIn' : 'fadeOut'"
>
  <div class="modal-container">
    <div class="modal-content">
      <!-- *** Title -->
      <div class="header">
        <p class="title">{{ header }}</p>
        <div class="close-icon" (click)="onToggle(false)">
          <svg
            class="fill-current text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            width="18"
            height="18"
            viewBox="0 0 18 18"
          >
            <path
              d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"
            ></path>
          </svg>
        </div>
      </div>

      <!-- *** Body -->
      <div class="modal-body">
        <ng-content select="[body]"></ng-content>
      </div>

      <!-- *** Footer -->
      <div class="footer">
        <ng-content select="[footer]"></ng-content>
      </div>
    </div>
  </div>
</div>
