.backdrop-modal {
  @apply fixed w-full inset-0 z-40 overflow-hidden flex 
  justify-center items-center;
}

.modal-container {
  @apply border border-blue-500 shadow-lg bg-white h-[90%] sm:h-auto
  w-[95%] md:max-w-[95%] lg:w-4/12 mx-auto rounded-xl z-50 overflow-y-auto;

  .modal-content {
    @apply py-4 text-left px-6;

    .header {
      @apply flex justify-between items-center pb-3;

      .title {
        @apply text-2xl font-bold text-gray-500;
      }

      .close-icon {
        @apply cursor-pointer z-50;
      }
    }

    .body {
      @apply my-5 mr-5 ml-5 flex justify-center items-center;
    }

    .footer {
      @apply flex justify-center items-center pt-2 space-x-14;
    }
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.faster {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
