<div class="pagination-container">
  <div>
    <button
      type="button"
      (click)="onPre()"
      [disabled]="page - 1 < 1"
      [ngClass]="{ disabled: page - 1 < 1 }"
    >
      <i class="fa-solid fa-angles-left"></i>
    </button>
  </div>

  <div>
    <button
      type="button"
      (click)="onNext()"
      [disabled]="page + 1 > totalPage"
      [ngClass]="{ disabled: page + 1 > totalPage }"
    >
      <i class="fa-solid fa-angles-right"></i>
    </button>
  </div>
</div>
