.pagination-container {
  @apply w-screen mt-14 relative -z-10 bg-red-500;

  div {
    @apply absolute top-1/2 -translate-y-1/2
    transition-all duration-100 ease-in-out;
  }

  div:nth-child(1) {
    @apply absolute -left-11 hover:-left-9 active:-left-11;

    button i {
      @apply right-4;
    }
  }

  div:nth-child(2) {
    @apply absolute -right-11 hover:-right-9 active:-right-11;

    button i {
      @apply left-4;
    }
  }
}

button {
  @apply bg-amber-200 p-12 rounded-full font-mono text-4xl font-extrabold
  text-amber-600 relative;

  i {
    @apply absolute top-1/2 -translate-y-1/2;
  }
}

.disabled {
  @apply bg-gray-500 cursor-not-allowed;
}
