.screen-container {
  @apply px-4 py-2 w-full h-full overflow-auto 
  overflow-x-hidden bg-white rounded-lg border shadow-md 
  sm:px-8 sm:py-4 dark:bg-gray-800 dark:border-gray-700;
}

.list-container {
  @apply divide-y divide-gray-200 dark:divide-gray-700;

  & > li:first-child {
    @apply w-full py-3  sm:py-4;
  }

  & > li {
    @apply w-full py-3 sm:py-4;
  }
}

.index-container,
.image-container,
.name-container,
.price-container,
.action-container {
  @apply flex items-center justify-center;
}

.index-container-header,
.image-container-header,
.name-container-header,
.price-container-header,
.action-container-header {
  @apply text-base font-semibold hidden sm:block text-center;
}

.list-content {
  @apply grid grid-cols-12 grid-rows-2 sm:grid-rows-none w-full;
}

//? Index Container
.index-container,
.index-container-header {
  @apply min-w-0 col-span-1 row-span-2 sm:col-span-1;
}

.index-container {
  & > p {
    @apply text-sm font-medium text-gray-900 truncate dark:text-white;
  }
}

//? Image Container
.image-container,
.image-container-header {
  @apply min-w-0 col-span-11 sm:col-span-3;
}

.image-container {
  & > img {
    @apply text-sm font-medium text-gray-900 truncate dark:text-white
    w-36 h-40;
  }
}

//? Name Container
.name-container,
.name-container-header {
  @apply col-span-11 sm:col-span-4;
}

.name-container {
  @apply text-base font-semibold text-center text-gray-900 dark:text-white;

  & > p {
    @apply text-base font-black text-slate-900 truncate dark:text-white;
  }
}

//? Price Container
.price-container,
.price-container-header {
  @apply col-span-12 sm:col-span-3;
}

.price-container {
  @apply flex justify-end sm:justify-center;

  & > label {
    @apply w-fit h-fit m-0 p-0 flex items-center cursor-pointer;
  }

  & input {
    @apply form-checkbox h-10 w-32 rounded-md text-black pl-3;
  }
}

//? Remove Button Container
.action-container,
.action-container-header {
  @apply col-span-12 sm:col-span-1 justify-end text-right;
}

.action-container {
  @apply flex justify-end items-center space-x-5;

  .icon-edit {
    @apply text-amber-500 font-bold text-2xl  cursor-pointer;
  }

  .icon-trash {
    @apply text-red-500 font-bold text-2xl  cursor-pointer;
  }

  .icon-save,
  .icon-cancel {
    @apply font-bold text-2xl cursor-pointer rounded px-3 py-1 text-white
    shadow-md;
  }

  .icon-save {
    @apply bg-emerald-500;
  }

  .icon-cancel {
    @apply bg-red-500;
  }
}

//? Text Empty Container
.text-empty-container {
  @apply col-span-12 text-center font-bold text-2xl 
  w-full h-[50vh] flex justify-center items-center
  text-slate-500;
}

.total-page {
  @apply col-span-1 sm:col-span-2 md:col-span-3 xl:col-span-4 flex justify-center items-center
  mt-20 text-base font-serif font-bold;
}
