<div class="screen-container">
  <div class="flow-root">
    <ul role="list" class="list-container">
      <li>
        <div class="list-content">
          <!-- *** ID -->
          <div class="index-container-header">
            <p>ID</p>
          </div>

          <!-- *** Image -->
          <div class="image-container-header">
            <p>Image</p>
          </div>

          <!-- *** Name -->
          <div class="name-container-header">
            <p>Name</p>
          </div>

          <!-- *** Price -->
          <div class="price-container-header">
            <p>Price</p>
          </div>

          <!-- *** Action -->
          <div class="action-container-header">
            <p>Action</p>
          </div>
        </div>
      </li>
      <ng-container
        *ngIf="($movieListNow | async)!.length > 0; else emptyMovie"
      >
        <li *ngFor="let movie of $movieListNow | async; let i = index">
          <div class="list-content">
            <!-- *** Index -->
            <div class="index-container">
              <p>{{ movie.id }}</p>
            </div>

            <!-- *** Image -->
            <div class="image-container">
              <img
                [src]="imageBaseUrl + movie.poster_path"
                [alt]="movie.title"
              />
            </div>

            <!-- *** Name -->
            <div class="name-container">
              <p>{{ movie.title }}</p>
            </div>

            <!-- *** Price -->
            <div class="price-container">
              <ng-container
                *ngIf="editIndex !== null && editIndex === i; else noEdit"
              >
                <input
                  type="number"
                  value="0"
                  min="0"
                  [(ngModel)]="priceMovie"
                />
              </ng-container>
              <ng-template #noEdit>
                <p>
                  {{
                    movie.price !== null && movie.price !== undefined
                      ? (movie.price | number)
                      : 'No specified price'
                  }}
                </p>
              </ng-template>
            </div>

            <!-- *** Action -->
            <div class="action-container">
              <ng-container
                *ngIf="editIndex == null || editIndex !== i; else noEditBtn"
              >
                <i
                  class="fa-solid fa-edit icon-edit"
                  (click)="onEdit(i, movie!.price || 0)"
                ></i>
                <i
                  class="fa-solid fa-trash icon-trash"
                  (click)="onRemove(movie.id)"
                ></i>
              </ng-container>
              <ng-template #noEditBtn>
                <i
                  class="fa-solid fa-save icon-save"
                  (click)="onSave(movie.id, priceMovie, movie)"
                ></i>
                <i
                  class="fa-solid fa-cancel icon-cancel"
                  (click)="onCancel()"
                ></i>
              </ng-template>
            </div>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
<div class="total-page">
  <p>
    Page {{ $page | async | number }} of
    {{ $totalPage | async | number }}
  </p>
</div>

<ng-template #emptyMovie>
  <li>
    <div class="list-content">
      <!-- *** Text -->
      <div class="text-empty-container">
        <p>Not Found Movies</p>
      </div>
    </div>
  </li>
</ng-template>
