<div class="container-dashboard">
  <search-input></search-input>
  <div class="movie-list-container">
    <movie-list></movie-list>
  </div>
  <pagination
    (next)="changePage = ActionPage.NEXT"
    (pre)="changePage = ActionPage.PRE"
  ></pagination>
</div>
