.container-dashboard {
  @apply relative h-screen w-screen block;
}

pagination {
  @apply absolute top-1/2 -translate-y-1/2;
}

.movie-list-container {
  @apply absolute inset-0 top-1/3 -translate-y-1/3 px-40;
}
