.navbar-container {
  @apply w-full h-16 bg-slate-900 drop-shadow-md flex justify-between items-center py-1 px-5;
}

.navbar-logo-container {
  @apply flow-root w-auto h-full relative text-white font-mono 
  uppercase cursor-pointer;

  & span {
    @apply absolute h-fit;

    &:nth-child(2) {
      @apply font-extrabold text-2xl text-red-400 left-12 top-1;
    }

    &:nth-child(3) {
      @apply font-extrabold text-sm left-12 top-7;
    }
  }

  & i {
    @apply absolute text-4xl text-amber-200 top-2;
  }
}

.btn-role-group {
  @apply w-fit flex space-x-3;

  button {
    @apply w-28 h-10 text-teal-600 flex justify-center items-center bg-transparent
    rounded-md text-sm font-bold text-center space-x-2
    transition-all duration-300 ease-in-out;
  }

  button.active {
    @apply text-teal-200 font-black text-lg bg-slate-800 
    transition-all duration-300 ease-in-out;
  }
}

.cart-btn-container {
  & button {
    @apply w-fit h-fit relative;

    & i {
      @apply text-amber-500 text-4xl;
    }

    & .badge {
      @apply absolute w-auto min-w-[25px] h-auto bg-red-600 
      font-mono font-bold text-white rounded-full top-1 -left-3 animate-pulse;
    }
  }
}
