<div class="navbar-container">
  <div class="navbar-logo-container" routerLink="./../user/movies-dashboard">
    <i class="fa-solid fa-clapperboard"></i>
    <span>Movie</span>
    <span>Store</span>
  </div>

  <div class="btn-role-group">
    <button
      routerLink="./../user/movies-dashboard"
      [ngClass]="{ active: !isAdmin }"
      (click)="onChangeToUser()"
    >
      <i class="fa-solid fa-user"></i><span>User</span>
    </button>
    <button
      routerLink="./../admin/movies-dashboard"
      [ngClass]="{ active: isAdmin }"
      (click)="onChangeToAdmin()"
    >
      <i class="fa-solid fa-screwdriver-wrench"></i><span>Admin</span>
    </button>
  </div>
  <div class="cart-btn-container" routerLink="./../user/cart">
    <button [style.opacity]="isAdmin ? 0 : 1" [disabled]="isAdmin">
      <i class="fa-solid fa-basket-shopping"></i>
      <div class="badge">
        <span>{{ ($cart | async)?.number_of_products }}</span>
      </div>
    </button>
  </div>
</div>
