<modal [header]="'Checkout'" (close)="isCheckout = false" [show]="isCheckout">
  <checkout
    body
    [isStartTimeOut]="isCheckout"
    (isTimeOut)="isCheckout = false"
    (isCancel)="isCheckout = false"
    (isSuccess)="isCheckout = false"
    (isSubmit)="isCheckout = false"
  ></checkout>
</modal>
<div class="screen-container">
  <div class="content-container">
    <div class="cart-container">
      <div class="btn-back" routerLink="./../user/movies-dashboard">
        <i class="fa-solid fa-angle-left"></i>
        <p class="">Back</p>
      </div>

      <div class="header">
        <p>Movies List</p>
        <button (click)="onClearCart()"><span>Clear</span></button>
      </div>

      <div class="item-list">
        <ng-container
          *ngFor="let item of ($cart | async)?.item_list; let i = index"
        >
          <div class="item items-strech">
            <div class="img-item">
              <img
                [src]="imgUrl + item.movie.poster_path"
                [alt]="item.movie.title"
              />
              <img
                [src]="imgUrl + item.movie.poster_path"
                [alt]="item.movie.title"
              />
            </div>
            <div class="item-detail">
              <p class="item-code">{{ item.movie.id }}</p>
              <div class="item-title">
                <p class="name">{{ item.movie.title }}</p>
                <div class="number-container">
                  <p>{{ item.price | number }} ฿ <span>x</span></p>

                  <div class="input-number-container">
                    <button
                      type="button"
                      class="reduce-button"
                      (click)="onReduce(i)"
                    >
                      <span>−</span>
                    </button>
                    <input
                      type="number"
                      [value]="item.number"
                      min="1"
                      [disabled]="true"
                    />
                    <button
                      type="button"
                      class="increase-button"
                      (click)="onIncrease(i)"
                    >
                      <span>+</span>
                    </button>
                  </div>
                  <button (click)="onRemoveItem(i)">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </div>
              </div>
              <p class="category">-</p>
              <div class="rate">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                  />
                </svg>
                <span class="text-gray-600 font-bold text-sm ml-1">{{
                  item.movie.vote_average
                }}</span>
              </div>
              <div class="summary">
                <p>{{ item.total | number }} ฿</p>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="checkout-container">
      <div class="checkout-content">
        <div class="checkout-detail">
          <p class="text-header">Summary</p>
          <div class="total-item">
            <p>Number of products</p>
            <p>{{ ($cart | async)?.number_of_products | number }} piece</p>
          </div>
          <div class="total-price">
            <p>Subtotal</p>
            <p>{{ ($cart | async)?.sub_total | number }} ฿</p>
          </div>
          <div class="total-shipping">
            <p>Shipping</p>
            <p>Free</p>
          </div>
          <div class="total-discount">
            <p>Discount</p>
            <p>{{ ($cart | async)?.discount | number }} %</p>
          </div>
        </div>
        <div class="checkout-summary">
          <div class="summary-detail">
            <p>Total</p>
            <p>{{ ($cart | async)?.total | number }} ฿</p>
          </div>
          <button
            (click)="isCheckout = true"
            [disabled]="(($cart | async)?.total || 0) <= 0"
          >
            Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
