.screen-container {
  @apply w-screen h-screen overflow-x-hidden 
  transform translate-x-0 transition ease-in-out duration-700;
}

.content-container {
  @apply flex items-end lg:flex-row flex-col justify-end;
}

.cart-container {
  @apply lg:w-[70%] w-full lg:pl-8 md:pl-6 
  pl-4 md:py-8 pt-4 bg-white dark:bg-gray-800
  overflow-hidden lg:h-screen h-auto;

  .header {
    @apply flex justify-between items-center pr-8;

    p {
      @apply lg:text-4xl text-3xl font-black leading-10 text-gray-800 dark:text-white pt-3;
    }

    button {
      @apply bg-gray-200 px-5 h-9 rounded-md 
      transition-all duration-300 ease-in
      hover:ease-out hover:scale-105 hover:bg-red-700 hover:text-white
      active:scale-95;
    }
  }

  .item-list {
    @apply w-full h-full overflow-auto lg:pr-8 md:pr-6 pr-4 pb-24;

    .item {
      @apply md:flex py-8 md:py-10 lg:py-8 border-t border-gray-200 first:border-none;

      .img-item {
        @apply md:w-4/12 2xl:w-1/4 w-full;

        img {
          @apply first:h-[25rem] first:object-center first:object-cover first:md:block first:hidden
          last:md:hidden last:w-full last:h-full last:object-center last:object-cover;
        }
      }

      .item-detail {
        @apply md:pl-3 md:w-8/12 2xl:w-3/4 flex flex-col justify-center;

        .item-code {
          @apply text-xs leading-3 text-gray-800 dark:text-white md:pt-0 pt-4;
        }

        .item-title {
          @apply flex flex-col md:flex-row md:items-center md:justify-between w-full pt-1;

          .name {
            @apply text-base font-black leading-none text-gray-800 dark:text-white;
          }

          .number-container {
            @apply flex justify-between items-center;

            p {
              @apply text-base font-bold leading-none text-gray-800 dark:text-white;

              span {
                @apply text-base font-light leading-none text-gray-800 dark:text-white mx-4;
              }
            }

            .input-number-container {
              @apply flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1 space-x-1;

              input {
                @apply outline-none focus:outline-none text-center w-full max-w-[80px] bg-gray-300 
                font-semibold text-base hover:text-black focus:text-black md:text-base cursor-default 
                flex items-center text-gray-700 border-0 rounded-md;
                -moz-appearance: textfield;
                outline: none !important;
                border: 0;

                input::-webkit-outer-spin-button,
                input::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                &:focus {
                  outline: none !important;
                  border: 0;
                }
              }

              .increase-button,
              .reduce-button {
                @apply bg-gray-300 text-gray-600 cursor-pointer
                h-full w-10 outline-none
                hover:text-gray-700 hover:bg-gray-400;

                label {
                  @apply m-auto text-2xl font-thin;
                }
              }

              .increase-button {
                @apply rounded-l;
              }

              .reduce-button {
                @apply rounded-r;
              }
            }

            button {
              @apply bg-red-300 px-3 py-2 rounded-md
              transition-all duration-300 ease-in
              hover:ease-out hover:bg-red-400 hover:scale-105 active:scale-95;
            }
          }
        }

        .category {
          @apply text-xs leading-3 text-gray-600 dark:text-white pt-2;
        }

        .rate {
          @apply flex items-center;

          span {
            @apply text-xs leading-3 text-gray-600 dark:text-white py-4;
          }

          svg {
            @apply h-5 w-5 text-yellow-500;
          }
        }

        .summary {
          @apply flex items-center justify-end pt-5;

          p {
            @apply text-base font-black leading-none text-gray-800 dark:text-white;
          }
        }
      }
    }
  }
}

.checkout-container {
  @apply lg:w-[30%] w-full bg-gray-100 dark:bg-gray-900 h-full;

  .checkout-content {
    @apply flex flex-col lg:h-screen h-auto lg:px-8 md:px-7 px-4 lg:py-20 md:py-10 py-6 justify-between overflow-y-auto;

    .checkout-detail {
      .text-header {
        @apply lg:text-4xl text-3xl font-black leading-9 text-gray-800 dark:text-white;
      }

      .total-item,
      .total-shipping,
      .total-price,
      .total-discount {
        @apply flex items-center justify-between;

        p:nth-child(1) {
          @apply text-base leading-none text-gray-800 dark:text-white;
        }

        p:nth-child(2) {
          @apply text-base leading-none text-gray-800 dark:text-white;
        }
      }

      .total-item {
        @apply pt-16;
      }

      .total-shipping,
      .total-price,
      .total-discount {
        @apply pt-5;
      }

      .total-shipping,
      .total-discount {
        p:nth-child(2) {
          @apply text-red-400;
        }
      }

      .total-discount {
        p:nth-child(1) {
          @apply text-red-400;
        }
        p:nth-child(2) {
          @apply font-semibold;
        }
      }
    }

    .checkout-summary {
      .summary-detail {
        @apply flex items-center pb-6 justify-between lg:pt-5 pt-20;

        p:nth-child(1) {
          @apply text-2xl leading-normal text-gray-800 dark:text-white;
        }

        p:nth-child(2) {
          @apply text-2xl font-bold leading-normal text-right text-gray-800 dark:text-white;
        }
      }

      button {
        @apply text-base leading-none w-full py-5 bg-gray-800 border-gray-800 border 
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-800 text-white dark:hover:bg-gray-700;
      }
    }
  }
}

.btn-back {
  @apply flex items-center text-gray-500 hover:text-gray-600 
  dark:text-white cursor-pointer;

  p {
    @apply text-sm pl-2 leading-none dark:hover:text-gray-200;
  }
}
