<div class="screen-container">
  <ng-container *ngIf="!isThank; else isThankPage">
    <div class="qr-code-container">
      <img
        src="./../../../../assets/images/qrcode-checkout.png"
        alt="QR Code Checkout"
      />
    </div>
    <div class="bank-account-number-container">
      <span>Bank account number</span>
      <div><span>xxx-x-xxxxx-x</span><span>(SCB)</span></div>
      <div><span>xxx-x-xxxxx-x</span><span>(KBANK)</span></div>
    </div>
    <div class="price-container">
      <span
        >Total<span>{{ ($cart | async)?.total | number }}</span
        >฿</span
      >
    </div>
    <div class="timeout-container">
      <span>Please pay within:</span><span>{{ getTimeOut() }}</span>
    </div>

    <div class="btn-container">
      <button (click)="onSubmit()">Summit</button>
      <button (click)="onCancel()">Cancel</button>
    </div>
  </ng-container>
  <ng-template #isThankPage>
    <div class="thank-container">
      <img
        src="https://www.ubuy.co.th/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNjFicDYzV3RNZUwuX0FDX1NMMTAzNl8uanBn.jpg"
        alt="Thank You"
      /></div
  ></ng-template>
</div>
