.screen-container {
  @apply px-2 py-3 flex flex-col justify-center items-center;

  .qr-code-container {
    img {
      @apply w-[20rem] h-[25rem] sm:w-[20rem] sm:h-[25rem];
    }
  }

  .thank-container {
    img {
      @apply w-[20rem] h-[20rem] sm:w-[30rem] sm:h-[30rem];
    }
  }

  .bank-account-number-container {
    @apply w-full flex flex-col items-center mt-3;

    & > span {
      @apply text-base font-semibold font-mono underline;
    }

    div {
      @apply text-base font-light font-mono mt-1 space-x-4;
    }
  }

  .price-container {
    @apply mt-10;

    span {
      @apply text-base font-normal border-b border-b-slate-800;

      span {
        @apply text-base font-semibold mx-3;
      }
    }
  }

  .timeout-container {
    @apply w-full text-center text-base font-light font-mono mt-10 space-x-5 border-b pb-5 border-gray-200;
  }

  .upload-slip-container {
    @apply flex flex-col mt-10;

    label {
      @apply block mb-2 text-base font-semibold font-mono text-gray-900 dark:text-gray-300;
    }

    input {
      @apply hidden;
    }
  }

  .btn-container {
    @apply flex justify-end w-full space-x-4 mt-5;

    button {
      @apply rounded px-7 py-2 text-base font-mono font-extrabold uppercase;
    }

    button:nth-child(1) {
      @apply bg-emerald-300;
    }

    button:nth-child(2) {
      @apply bg-red-300;
    }
  }
}
